/*.list-group-item{
  padding-top: 5px;
  padding-bottom: 5px;
}*/


.media-body h6{
  font-size: 14px;
  text-transform: lowercase;
  color: grey;
}

.media-body p{
  font-size: 12pt;
  text-transform: lowercase;
}

img.emoji {

  display: inline !important;
  margin: 0 2px 0 2px !important;
  width: 18px;
  height: 18px;
}

